<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"</script>

    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="">
            <div class="">
              <div class="row">
                <div class="col-md-6">
                  <a class="navbar-brand" href="index.html">
                    <img src="http://i.imgur.com/LRGiJ9i.png" alt="logo-judier">
                  </a>
                </div>
                <div class="flex-right col-md-5 col-offset-md-1">
                  <tbody style="margin-top:17px;">
                    <div class="" style="margin-right:10px;">
                      <label for="" style="display:inherit">Username</label>
                      <input type="text" v-model="userLogin">
                    </div>
                    <div class="">
                      <label for="">Password</label> <br>
                      <input type="password" v-model="passLogin" style="margin-right:10px">
                      <button type="button" name="button" @click="logInGoGo()">Login</button>
                    </div>
                  </tbody>
                </div>
              </div>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <img src="http://i.imgur.com/UR4kLBm.png" alt="logo">
            <h1>getting started</h1>
            <div class="background-gambar">
              <img src="http://i.imgur.com/X21mb7X.png" alt="">
            </div>
          </div>
          <div class="col-md-4">

            <h1 style="text-align:">Registration Form</h1>
            <h4>Gratis, sampai kapanpun.</h4>
            <hr>
            <div class="form-login">
              <div class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="input your Name" v-model="newName">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="input your Username" v-model="newUsername">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="input your Password" v-model="newPassword">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <a href="login.html">Already Have an Account?</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-default" @click="signUpGoGo">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    var app = new Vue({
  el: '#app',
  data: {
    userLogin: '',
    passLogin: '',
    newName: '',
    newUsername: '',
    newPassword: ''
  },
  methods: {
    logInGoGo: function() {
      let self = this;
      axios.post('http://localhost:3000/signin', {
        username: self.userLogin,
        password: self.passLogin,
      })
      .then(function (response) {
        if (response.data == "invalid password") {
          alert("Invalid Password")
          self.passLogin = ''
        } else if (response.data == "invalid username") {
          alert("invalid username")
          self.passLogin = '';
          self.userLogin = '';
        } else {
          console.log("masuk");
          console.log(response);
          localStorage.setItem('token', response.data)
          self.passLogin = '';
          self.userLogin = '';
          alert("redirect ke home user")
        }
      })
      .catch(function (error) {
        console.log(error);
      })
    },
    signUpGoGo: function() {
      let self = this;
      axios.post('http://localhost:3000/signup', {
        name: self.newName,
        username: self.newUsername,
        password: self.newPassword
      })
      .then(function (response) {
        if (response.data == "User created") {
        self.newName = '';
        self.newUsername = ''
        self.newPassword = ''
        alert("user berhasil di buat, silahkan log in dengan " + self.newUsername)
      } else {
        self.newName = '';
        self.newUsername = ''
        self.newPassword = ''
        alert("error, coba ganti username")
      }
      })
      .catch(function (error) {
        self.newName = '';
        self.newUsername = ''
        self.newPassword = ''
        console.log(error);
      })
    }
  }
})
    </script>
  </body>
</html></h1>
